# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [4]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [33]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df["city"].unique()

array(['Lake Jonathanshire', 'South Michelleport', 'Port Samanthamouth',
       'Rodneyfort', 'South Jack', 'South Latoya', 'New Paulville',
       'Simpsonburgh', 'South Karenland', 'North Jasmine',
       'New Kimberlyborough', 'West Angela', 'Roberthaven', 'North Jason',
       'Williamsview', 'Leahton', 'West Anthony', 'New Paulton',
       'West Patrickchester', 'Deanville', 'West Josephberg',
       'West Samuelburgh', 'West Heidi', 'Loganberg', 'Huntermouth',
       'Grahamburgh', 'Port Frank', 'East Kaylahaven', 'West Robert',
       'North Markport', 'Richardfort', 'Reynoldsfurt', 'Justinberg',
       'Martinezhaven', 'Jerryton', 'Lake Scottton', 'South Evanton',
       'Rogerston', 'West Ericstad', 'Hurleymouth', 'Joneschester',
       'Port Angela', 'Barajasview', 'West Christopherberg',
       'New Jacobville', 'Port David', 'Valentineton', 'Carriemouth',
       'Williamsstad', 'Royland', 'Karenberg', 'Christopherfurt',
       'Liumouth', 'Johnton', 'Erikaland', 'Raymondhaven', 'Karenside',
       'Lake Danielberg', 'South Phillip', 'North Madeline',
       'Port Johnbury', 'Robertport', 'Pattyland', 'Amandaburgh',
       'North Barbara', 'West Gabriel', 'Barronchester', 'East Kentstad',
       'Lake Omar', 'Myersshire', 'West Hannah', 'East Marymouth',
       'New Raymond', 'Lake Robertside', 'Josephside', 'Brandonfort',
       'Lewisland', 'North Richardhaven', 'New Olivia', 'New Shannonberg',
       'Nicolechester', 'Victoriaport', 'South Teresa', 'East Aaronbury',
       'Bethanyland', 'Lake Scott', 'North Jeffrey', 'Rodriguezview',
       'Sotoville', 'South Brenda', 'Port Shane', 'North Timothy',
       'Veronicaberg', 'Williamsonville', 'Lewishaven', 'Lake Ann',
       'Grayville', 'Colemanland', 'West Kimmouth', 'Mezachester',
       'Davidfurt', 'East Danielview', 'Randallchester', 'North Holly',
       'Michaelberg', 'Lake Latoyabury', 'Taylorhaven', 'Garzaport',
       'New Ryantown', 'Bradshawfurt', 'South Marychester', 'Jessicaport',
       'South Jennifer', 'South Saramouth', 'Lake Jamie', 'Newtonview',
       'North Jaime', 'Penaborough', 'Harringtonfort', 'West Heather'],
      dtype=object)

## Deliverable 1: Get a Summary DataFrame

In [17]:
#  1. Get the total rides for each city type: 
city_type = pyber_data_df.groupby(["type"]).count()["ride_id"]
city_type

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [32]:
# 2. Get the total drivers for each city type
unique_cities = pyber
drivers_per_type = pyber_data_df.groupby(["type"]).sum()["driver_count"]
drivers_per_type

type
Rural         537
Suburban     8570
Urban       59602
Name: driver_count, dtype: int64

In [15]:
#  3. Get the total amount of fares for each city type
fare_per_type = pyber_data_df.groupby(["type"]).sum()["fare"]
fare_per_type

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [25]:
#  4. Get the average fare per ride for each city type. 
# avg_ride_fare = pyber_data_df.groupby(["type"]).mean()["fare"]

avg_ride_fare = fare_per_type / city_type
print(avg_ride_fare)

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
dtype: float64

In [24]:
# 5. Get the average fare per driver for each city type. 
avg_fare_driver = fare_per_type / drivers_per_type
avg_fare_driver

type
Rural       8.059460
Suburban    2.258615
Urban       0.668675
dtype: float64

In [30]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df = pd.DataFrame({
    "Total Rides" : city_type,
    "Total Drivers" : drivers_per_type,
    "Total Fares" : fare_per_type,
    "Average Fare per Ride" : avg_ride_fare,
    "Average Fare per Driver" : avg_fare_driver
})
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,537,4327.93,34.623440,8.059460
Suburban,625,8570,19356.33,30.970128,2.258615
Urban,1625,59602,39854.38,24.525772,0.668675

In [31]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,537,4327.93,34.623440,8.059460
Suburban,625,8570,19356.33,30.970128,2.258615
Urban,1625,59602,39854.38,24.525772,0.668675

In [10]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [11]:
# 1. Read the merged DataFrame

In [12]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [13]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [14]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [15]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [16]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [17]:
# 7. Check that the datatype for the index is datetime using df.info()

In [18]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [19]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')